.body {
    background-color: rgb(37, 34, 34);
}
.data {
    text-align: center;
    padding: 1rem 19rem;
    color: #FFFFFF;}

 .pricing-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
      column-gap: 0.5rem;
      justify-content: center;
 }
 .cards {
    display: grid;
    row-gap: 1srem;
    background-color: #FFA500;
    padding: 3rem 1rem;
    justify-content: center;
    text-align: center;
 }
 .head{
      font-size: 1rem;  
 }
 .card-title{
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 1px;
 }
 .card-price {
     font-size: 2rem;
     margin-top: 0px;
     margin-bottom: 0%;
 }
 .list{
    display: grid;
    row-gap: 1rem;
    
 }
 .pricing-item {
    display: flex;
    column-gap: 5rem;
    align-items: center;
    font-size: 10px;
    color: #FFFFFF;
    padding: 0 1rem;
 }
 .button {
     background-color: black;
     width: 150px ;
     padding: 15px 0px;
     text-align: center;
     margin: 10px 10px;
     font-weight: bold ;
    color: #FFFFFF;
 }
 .END {
   display: grid;
   grid-template-columns: 20px 20px ;
     column-gap: 15rem;
     padding: 1rem 34rem;

 }
 .button2 {
   background-color: #FFA500;
   width: 150px ;
   padding: 15px 0px;
   text-align: center;
   margin: 10px 10px;
   font-weight: bold ;
  color: #000000;
}