*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   list-style: none;
    text-decoration: none;
  
}
body{
    font-family: monospace;
    
    background-image: url("backk.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    
}
nav{
    background: rgb(0, 0, 0);
    height: 60px;
width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 60px;
    padding: 0 60px;
    font-weight: bold;
}
.logo span{
    color:  #FFA500;
}
nav ul{
    float: right;
    margin-right: 12em;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 9px;
   
}
nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 17px;
    
}

.fa-brands {  
    
    padding: 6px;
    text-align: center;
    font-size: 1em;
    color: white;
      
  }    

  
.second{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 88px 0;
    color: rgb(255, 255, 255);
font-weight: bold; 
border-radius: 8px;
width: 500px;
font-family: Arial, Helvetica, sans-serif;


}
.second h1{
font-size: 40px;
line-height: 50px;
margin: 40px 0;
text-align: center;


}
.btn{
  background-color: #d68d05;  
  border: none;
  color: rgb(255, 255, 255);
  padding: 12px 24px;
 
    text-align: center;
  font-size: 16px;
  border-radius: 7px;
top: 70%;
left: 15%;
position: absolute;
}
 
.fa{
    color: rgb(255, 255, 255);
    font-size: 12px;
}


